.global-container {
    width:100%;
    padding:20px;
    height:100vh;
    display:flex;
    justify-content: space-between;
    flex-direction: column;

    &.b{
        flex-direction: row;
    }
}
.header {
    display:flex;
    justify-content: space-between;
}
.container {
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
}